HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### logging ###
logs/
*.log

### generate ###
out/
gen/
.DS_Store/

### personal ###
rebel.xml
.rebel*

### Package Files ###
*.jar
*.war
*.ear
*.zip
*.rar
*.7z
*.tar
*.tgz

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### jvm crash ###
hs_err_pid*
